.main-body{
    margin: 24px 160px;
    font-family: "Fira Sans", serif;
    background-color: #F1F1F3;
}
button{
    cursor: pointer;
}
/* Navbar Style Start */
nav{
    display: flex;
    justify-content: space-between;
}
.green2{
    color: green;
}
.red{
    color: red;
}
nav button{
    padding: 15px 30px;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    font-family: "Fira Sans", serif;
    border: 1px solid #006A50;
    border-radius: 10px;
}
nav button:hover{
    background-color: #C6E4D6;
    color: black;
}
/* Navbar Style End */

/* Banner Style Start */
.primary-bg{
    background-color: #C6E4D6;
}
.banner{
    margin-top: 20px;
    display: flex;
    padding: 80px 60px;
    border-radius: 10px;
    align-items: center;
    gap: 64px;
}
.ligth-dark{
    color: rgba(14, 14, 14, 0.8);
}
.banner-content-title{
    font-size: 24px;
}
.banner-content-description{
    font-size: 45px;
}
.primary-btn{
    background-color: #006A50;
    color: #FFFF;
    padding: 17px 34px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.primary-btn:hover{
    background-color: #004B3E;
}
.banner-img{
    width: 474.03px;
    height: 400px;
}
/* Banner Style End */

/* The Vision of future Start */
.vision{
    margin-top: 80px;    
}
.primary-heading{
    font-size: 40px;
}
.vision-description{
    line-height: 24px;
}
.vision-content{
    display: flex;
    align-items: center;
    gap: 24px;
}
.vision-content div{
    width: 410px;
    height: 325px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px lightgray;
}
.vision-content div:hover{
    background-color:aliceblue;
}
.vision-content img{
    width: 64px;
    height: 64px;
    margin-bottom: 24px;
}
/* Shared */
.secondary-heading{
    font-size: 20px;
}
.vision-content p{
    line-height: 24px;
    height: 72px;
    margin-bottom: 40px;
}
.digital{
    background-color: rgba(84, 144, 245, 0.2);
}
.digital button{
    background-color: #5490F5;
}
.green{
    background-color: #C6E4D6;
}
.green button{
    background-color: #09A15C;
}
.modern{
    background-color: #F7EBCF;
}
.modern button{
    background-color: #FFC239;
}
/* The Vision of future End */

/* Recent News Start */
.recent-news{
    margin-top: 80px;
}
.recent-news h1{
    font-size: 40px;
}
.recent-news p{
    line-height: 24px;
    /* margin-bottom: 32px; */
}
.card-1, .card-2{
    padding: 48px;
    display: flex;
    align-items: center;
    gap: 32px;
    background-color: white;
    border-radius: 10px;
}
.card-1:hover, .card-2:hover{
    background-color: aliceblue;
}
.card-1{
    margin-bottom: 24px;
}
.card-1>img, .card-2>img{
    width: 440px;
    height: 325px;
    border-radius: 15px;
}
.card-1 h1, .card-2 h1{
    font-size: 28px;
    display: inline;
}

.card-1 div img, .card-2 div img{
    width: 134px;
    height: 40px;
    margin: 12px 0px;
}
.card-1 div span, .card-2 div span{
    margin-left: 12px;
}
.card-1 div p, .card-2 div p{
    line-height: 24px;
    /* margin-bottom: 32px; */
}
.card-1 button, .card-2 button{
    padding: 10px 26px;
    font-size: 18px;
}
/* Recent News End */

/* Donate Start */
.donate{
    margin-top: 80px;
}
.donate>h1{
    font-size: 40px;
    text-align: center;
}
.donate p{
    line-height: 24px;
    text-align: center;
}
.donate>div{
    display: flex;
    justify-content: space-between;
}
.donate>div h1{
    padding: 40px;
    background-color: white;
    border-radius: 16px;
    text-align: center;
    border: 1px solid lightgray;
    box-shadow: 2px 5px 10px grey;
    cursor: pointer;
}
.donate>div h1:hover{
    background-color: #C6E4D6;
}
.color-money{
    background-color: #C6E4D6 !important;
}

.donate input{
    width: 98%;
    height: 64px;
    text-align: center;
    font-size: 20px;
    display: block;
    margin: 32px auto;
    border: none;
    border-radius: 10px;
}
.donate-btn button{
    margin: 0px auto;
}
/* Donate End */

/* Newsletter Start */
.newsletter{
    margin-top: 80px;
    background-color: #C6E4D6;
    text-align: center;
    padding: 80px 100px;
    border-radius: 10px;
}
.newsletter>h1{
    font-size: 40px;
}
.newsletter p{
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}
.newsletter input[type=text]{
    width: 600px;
    height: 55px;
    border: none;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.newsletter input[type=submit]{
    height: 55px !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Newsletter End */

/* Quote Start */
.quote{
    margin-top: 80px;
    background-color: white;
    padding: 48px 24px;
    border-radius: 10px;
}
.quote-img-p{
    position: relative;
}
.quote-img-p p{
    position: absolute;
    top: 15%;
}

/* Quote End */